{% extends 'gym/index.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
<br>
<h2 class="team-h2">О нас</h2>
<br>
<br>
<table>
    <tr>
        <td>
            <p><img class="about-us-img" src="{% static 'gym/image/photo_2023-05-07 13.08.15.jpeg' %}"></p>
        </td>
        <td>
            <h2 class="about-h2">Diamond Gym - Главный<br> фитнес-центр Жодино</h2>
            <br>
            <p class="about-p">Фитнес-центр Lifestyle был открыт в 2014 году,<br> но с февраля 2019 года после смены владельцев и
                <br>объединения с крупнейшим учебным центром<br> “Фитнес-образование” начался новый этап жизни Lifestyle.<br>
                <br>
                Мы перепроверили качество всех фитнес-услуг,<br> провели аттестацию, поменяли тренерский
                состав<br> и сделали Lifestyle территорией умного фитнеса.
            </p>
        </td>
    </tr>
</table>
<br>
<br>
<section class="color-table">
    <br>
    <h1 class="about-h1">НАША ФИЛОСОФИЯ</h1>
    <p class="about-p-section">Мы знаем, как должно работать ваше тело. Мы даем вам почувствовать, каким красивым, сильным и ловким оно может быть. Мы умеем обучать вас. Мы расправляем ваши плечи – в прямом и переносном смыслах.
Мы знаем о фитнесе все и умеем делать с вашим телом то, чего не умеют делать другие.</p>
</section>
<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <td>
            <h2 class="about-h2">Diamond Gym - это:</h2>
            <br>
            <ul class="about-ul">
                <li class="about-li">Фитнес-центр площадью 1400 кв.м.</li>
                <li class="about-li">Тренажёрный зал 500 кв.м., оснащенный современными<br> тренажерами Sports Art</li>
                <li class="about-li">Фитнес для возрастной категории 50+</li>
                <li class="about-li">Финская сауна</li>
                <li class="about-li">Питьевая вода, Wi-Fi, TV, комфортные раздевалки и душевые<br> для максимального удобства,
                    шкафы в постоянную аренду
                </li>
            </ul>
        </td>
        <td>
            <p><img class="about-us-img" src="{% static 'gym/image/photo_2023-05-07 13.08.18.jpeg' %}"></p>
        </td>
    </tr>
</table>
<br>
<br>
<br>
<h1 class="galery-h1">ГАЛЕРЕЯ</h1>
<br>
<table class="galery-table">
    <tr>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-04-27 20.06.27.jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-04-27 20.06.28.jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-04-27 20.06.28 (1).jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-05-14 11.31.52.jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-05-14 11.31.57.jpeg' %}" class="galery-img"></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-05-14 11.31.55.jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-05-14 11.31.58.jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-05-14 11.31.58 (1).jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-05-14 11.31.59.jpeg' %}" class="galery-img"></p>
        </td>
        <td>
            <p><img src="{% static 'gym/image/photo_2023-05-14 11.32.00.jpeg' %}" class="galery-img"></p>
        </td>
    </tr>
</table>
{% endblock %}